@import url("https://fonts.googleapis.com/css2?family=Rochester&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply scroll-smooth;
  }
  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl;
  }
  h2 {
    @apply text-3xl sm:text-4xl;
  }
  li {
    @apply cursor-pointer;
  }
  button {
    @apply shadow-lg rounded-full uppercase bg-gradient-to-r from-sky-500 via-purple-500 to-pink-500 text-white cursor-pointer hover:shadow-sm duration-500;
  }
}

@layer components {
  .wrapper {
    @apply md:w-full lg:w-[1024px];
  }
  .just-center {
    @apply flex items-center justify-center;
  }
  .image-border {
    @apply bg-gradient-to-tr from-amber-500 to-fuchsia-700 rounded-full;
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
